
.return-container{
    display: flex;
    /* outline: auto black; */
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
}

.leaderboard-container {
    width: 90%;
    background: #F8F8FF;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Opcional: Agrega scroll solo si es necesario */
    font-family: 'Inter';
    gap: 1rem;
  }
  
  
  
  
  

